services:
  backend:
    build:
      context: .
      dockerfile: back.Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./backend:/app/backend
    command: uvicorn backend.main:app --host 0.0.0.0 --port 8000 --reload
    environment:
      - DATA_DIR=/app/data
    extra_hosts:
      - "host.docker.internal:host-gateway"

  frontend:
    build:
      context: .
      dockerfile: front.Dockerfile
    ports:
      - "8501:8501"
    volumes:
      - ./frontend:/app/frontend
    environment:
      - API_URL=http://backend:8000
    depends_on:
      - backend
